.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: radial-gradient(circle, #ebb8f8 50%, #ffffff 100%);
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar ul {
  list-style: none; /* remove bullets */
  display: flex;
  gap: 3rem; /* space between links */
  margin: 0;
  padding: 0;
  font-size: 20px;
  
}

.navbar ul li{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

.navbar ul li:hover{
  color: #6f1985; /* yellow on hover */
  cursor:default;
}
